<template>
  <div>
    <input type="text" v-model="userInfo.userid" placeholder="userid">
    <input type="text" v-model="userInfo.title" placeholder="title">
      <button v-on:click="addList">등록</button>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      userInfo: {
        userid : '',
        title: '',
      }
    }
  },
  methods : {
    addList() {
      return axios.post('https://jsonplaceholder.typicode.com/todos/1/posts', this.userInfo)
        .then(response => {
          return localStorage.setItem(response.data.id, JSON.stringify(response.data));
        }).then(() => {
            this.$router.push('list');
          })
        .catch(error => {
          console.log(error);
        })
    }
  }
}
</script>

<style scoped>
  input {
    display: block;
    margin-bottom: 10px;
    padding:10px;
  }
</style>