<template>
  <div>
    first
    <input type="text" v-model="data">
    <second-test></second-test>
  </div>
</template>

<script>
import secondTest from './secondTest';

export default {
  data() {
    return {
      data: '',
    }
  },
  created() {
    console.log('first-created');
  },
  mounted() {
    console.log('first-mounted');
  },
  beforeUpdate() {
    console.log('first-beforupdate')
  },
  updated() {
    console.log('first-update');
  },
  destroyed() {
    console.log('first-destroyed');
  },
  components: {
    secondTest,
  }
}
</script>