<template>
  <div>
    second
    <input type="text" v-model="data">
    <third-test></third-test>
  </div>
</template>

<script>
import thirdTest from './thirdTest'

export default {
  data() {
    return {
      data: '',
    }
  },
  created() {
    console.log('second-created');
  },
  mounted() {
    console.log('second-mounted');
  },
  updated() {
    console.log('second-update');
  },
  destroyed() {
    console.log('second-destroyed');
  },
  components: {
    thirdTest,
  }
}
</script>