<template>
  <div>
    third
    <input type="text" v-model="data">
  </div>
</template>

<script>
export default {
  data() {
    return {
      data: '',
    }
  },
  created() {
    console.log('third-created');
  },
  mounted() {
    console.log('third-mounted');
  },
  updated() {
    console.log('third-update');
  },
  destroyed() {
    console.log('third-destroyed');
  },
}
</script>