<template>
  <div>
    <router-link to="/add">추가</router-link>
    <ul>
      <li v-for="list in this.$store.getters.LIST" v-bind:key="list.key">
        <router-link v-bind:to="`detail/${list.id}/userinfo/${list.userId}`">To-id:{{ list.id }}</router-link>
        {{ list }}
      </li>
    </ul>
    <first-test></first-test>
  </div>
</template>

<script>
import firstTest from './firstTest'

export default {
  created() {
    this.$store.dispatch('FETCH_LIST');
  },
  components: {
    firstTest
  }
}
</script>