<template>
  <div>
    <vue-header></vue-header>
    <router-view></router-view>
    <vue-footer></vue-footer>
  </div>
</template>

<script>
import VueHeader from './components/VueHeader.vue'
import VueFooter from './components/VueFooter.vue'

export default {
  components: {
    VueHeader,
    VueFooter,
  },
}
</script>

<style>
body {
  margin:10px;
}
body, ul {
  padding:0;
}
li {
  list-style: none;
}
</style>
